﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="container bg-success"> 
<style>
.jumbotron{
    background-color:pink;

}
</style>
<div class ="jumbotron" >
        <center><h1></b>DrugDealer and Gugger 💉</h1></b></center>
        </div>

        <div class ="row">
        <h3> รายการยา 💊</h3>
        <table class ="table">
            <thead>
                <tr>
                    <th>ชื่อยา</th><th>ประเภทยา</th><th>จำนวนยา</th> 
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model.Drugs ){
 <tr>
 <td>
 @Html.DisplayFor(modelItem => item.Name)
 </td>
 <td>
 @Html.DisplayFor(modelItem => item.Category)
 </td>
 <td>
@if (@item.Number<=14){
        @Html.DisplayFor(modelItem => item.Number) <h5>สินค้ากำลังจะหมดกรุณาซื้อด่วน</h5>
}else {
 @Html.DisplayFor(modelItem => item.Number) 

}
 
 </td>
 </tr>
}
 </tbody>
</table>
</div>

