@page
@model NewsReport.Pages.NewsCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>สร้างหัวข้อข่าวใหม่</h2>


<div>
<h4>กรอกข้อมูลดังต่อไปนี้</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory.ShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NewsCategory.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.NewsCategory.NewscategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
