@page
@model IndexModel

@{
    ViewData["Title"] = "ระบบรายงานข่าว";
}
<div class="jumbotron">
    <center><h2>ระบบรายงานข่าวโดยประชาชนเพื่อประชาชน</h2></center>
    </div>

@foreach (var item in Model.NewsCategory) {
        <div class="row">
            <h3>@Html.DisplayFor(model=>item.ShortName)</h3>
            <h4>@Html.DisplayFor(model=>item.FullName)</h4>
        </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>วันเกิดเหตุ</th><th>เนื้อข่าว</th><th>สถานะการยืนยัน</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var newsItem in Model.News){
                        if(newsItem.NewscategoryID == item.NewscategoryID){
                        <tr>
                            <td>@Html.DisplayFor(modelItem => newsItem.ReportDate)</td>
                            <td>@Html.DisplayFor(modelItem => newsItem.NewsDetail)</td>
                            <td>@Html.DisplayFor(modelItem => newsItem.NewsStatus)</td>
                        </tr>
                        }                    
                    }
            </tbody>
        </table>
    </div>
}
