@page
@model Drugger.Pages.Admin.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container bg-success"> 
<h2>บันทึกรายการ📩</h2>

<h4>ยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                ชื่อยา
                <input asp-for="Drug.Name" class="form-control" />
                <span asp-validation-for="Drug.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               ประเภทของยา(ยาภายนอก,ภายใน)
                <input asp-for="Drug.Category" class="form-control" />
                <span asp-validation-for="Drug.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนที่เหลือ
                <input asp-for="Drug.Number" class="form-control" />
                <span asp-validation-for="Drug.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
