@page
@model Drugger.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<div class="container bg-success"> 
<b><h2>ลบบันทึก ➖</h2></b>

<b><h3>คุณแน่ใจแล้วใช่ไหมว่าาจะลบบันทึกนี้ ⁉</h3></b>
<div>
   <b> <h4>ยา</h4></b>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        <b> ชื่อยา</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>
        <dt>
           <b> ประเภทยา</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Category)
        </dd>
        <dt>
         <b>  จำนวนยา</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Number)
        </dd>
        <dt>
           <b> โพสโดย</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drug.DrugID" />
        <input type="submit" value="ลบบันทึก" class="btn btn-default" /> |
       <b> <a asp-page="./Index">กลับไปก่อนหน้า</a></b>
    </form>
</div>
