@page
@model Drugger.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container bg-success"> 
<h2>รายละเอียด 📝</h2>

<div>
    <h4>ยา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Name)
        </dd>
        <dt>
            ประเภทยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Category)
        </dd>
        <dt>
           จำนวนยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.Number)
        </dd>
        <dt>
           โพสโดย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drug.DrugID">แก้ไข</a> |
    <a asp-page="./Index">กลับไปก่อนหน้า</a>
</div>
