@page
@model Drugger.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container bg-success"> 
<h2>แก้ไข⚙</h2>

<h4>ยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Drug.DrugID" />
            
            <div class="form-group">
                ชื่อยา
                <input asp-for="Drug.Name" class="form-control" />
                <span asp-validation-for="Drug.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                ประเภทของยา(ยาภายนอ,ยาภายใน)
                <input asp-for="Drug.Category" class="form-control" />
                <span asp-validation-for="Drug.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนยา
                <input asp-for="Drug.Number" class="form-control" />
                <span asp-validation-for="Drug.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับไป</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
