@page
@model Drugger.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "รายการยา";
}
<div class="container bg-success"> 
<h2>รายการยา📄💊</h2>

<p>
    <a asp-page="Create">สร้างบันทึกยา➕💊</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อยา
            </th>
            <th>
               ประเภทยา
            </th>
            <th>
                จำนวนยา
            </th>
            <th>
               โพสโดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DrugID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.DrugID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.DrugID">ลบบันทึก</a>
            </td>
        </tr>
}
    </tbody>
</table>
